@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --mainRed: #ff0000;
  --mainBlue: #3993dd;
  --mainWhite: #fffbfc;
  --mainGrey: #e7e4e5;
  --mainBlack: #323232;
  --mainDarkGrey: #8f8c8c;
  --mainFontFamily: 'Permanent Marker', cursive;
  --mainTransition: all 0.4s linear;
  --longTransition: all 2s linear;
  --mainSmallLetterSpacing: 4px;
  --mainLetterSpacing: 8px;
  --mainBigLetterSpacing: 15px;
}
/* ********** global ************ */
.article {
  background-color: var(--mainWhite);
  padding: 5rem 2rem;
}

@media screen and (min-width: 992px) {
  .article {
    padding: 5rem;
  }
}

/* *********** navbar *********** */
.navbar {
  padding: 10px 0;
  display: -ms-grid;
  display: grid;
  background-color: var(--mainWhite);
  width: 100%;
}
.portfolio {
  color: var(--mainBlue);
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--mainFontFamily);
  margin-left: 20px;
}
.nav {
  display: none;
}
.nav ul {
  list-style-type: none;
}
.nav li {
  line-height: 45px;
  -webkit-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
  transition: var(--mainTransition);
  padding-left: 20px;
  cursor: pointer;
}
.link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.1rem;
  color: var(--mainBlack);
  -webkit-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
  transition: var(--mainTransition);
  display: block;
}
.nav li:hover .link {
  padding-left: 10px;
}
.nav li:hover {
  background-color: var(--mainGrey);
}
.bars {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: var(--mainBlue);
  cursor: pointer;
  -webkit-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
  transition: var(--mainTransition);
}
.bars:hover {
  font-size: 2.2rem;
}
.show {
  display: block;
  -webkit-transition: all 10s ease;
  -o-transition: all 10s ease;
  transition: all 10s ease;
}
@media screen and (min-width: 756px) {
  .bars {
    display: none;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 6fr 1fr;
    grid-template-columns: 1fr 6fr 1fr;
    text-align: center;
  }
  .nav {
    display: block;
  }
  .nav li {
    display: inline-block;
    padding: 0 20px;
  }
  .nav li:hover {
    background-color: var(--mainWhite);
  }
}
/* *********** home page *********** */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 66.4px);
  background-image: -o-linear-gradient(
      right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/home-background.jpeg);
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
    url(./img/home-background.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-object-fit: cover;
  object-fit: cover;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.home-header {
  -webkit-clip-path: polygon(100% 0, 100% 91%, 77% 100%, 23% 100%, 0 91%, 0 0);
  clip-path: polygon(100% 0, 100% 91%, 77% 100%, 23% 100%, 0 91%, 0 0);
  background-color: rgba(255, 251, 252, 0.8);
  padding: 10px 50px 40px;
  border-radius: 0.5rem;
  margin: 0 10px;
}
.home-header h1 {
  color: var(--mainBlue);
  font-family: var(--mainFontFamily);
  font-size: 4rem;
}
.home-header p {
  margin: 10px auto 30px;
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: var(--mainLetterSpacing);
  color: var(--mainDarkGrey);
}

/* .btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--mainBlue);
  border: 2px solid var(--mainBlue);
  padding: 3px 15px;
  -webkit-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
  transition: var(--mainTransition);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.btn:hover {
  color: var(--mainWhite);
  background-color: var(--mainBlue);
} */

.btn {
  width: 180px;
  padding: 1rem 0.5rem;
  /* height: 60px; */
  margin: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: transparent;
  color: var(--mainBlue);
  font-weight: 700;
  border: none;
  outline: none;
  border: 3px solid var(--mainBlue);
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.btn::before,
.btn::after {
  content: '';
  height: 4px;
  width: 30px;
  background-color: var(--mainWhite);
  position: absolute;
  transition: 0.4s linear;
  transform: skew(40deg);
}
.btn::before {
  top: -3px;
  left: 10%;
}
.btn::after {
  bottom: -3px;
  right: 10%;
}
.btn:hover::before {
  left: 70%;
}
.btn:hover::after {
  right: 70%;
}
/* *********** Hero *********** */
.hero {
  position: relative;
  height: 70vh;
}
.hero img {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: fixed;
  z-index: -2;
}
.hero-effect {
  top: 0;
  height: 100vh;
  width: 100%;
  left: 0;

  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.1)
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.1)
  );
  position: fixed;
  z-index: -1;
}
.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 251, 252, 0.7);
  padding: 0.5rem 2rem 2rem;
  width: 100%;
  text-align: center;
  -webkit-clip-path: polygon(100% 0, 100% 91%, 77% 100%, 23% 100%, 0 91%, 0 0);
  clip-path: polygon(100% 0, 100% 91%, 77% 100%, 23% 100%, 0 91%, 0 0);
  border-radius: 5px;
}
.hero-title h2 {
  font-size: 3rem;
  font-family: var(--mainFontFamily);
  color: var(--mainBlue);
  text-transform: capitalize;
}
.hero-title h5 {
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: var(--mainLetterSpacing);
  color: var(--mainDarkGrey);
}
@media screen and (min-width: 460px) {
  .hero-title {
    width: 455px;
  }
  .hero-title h2 {
    font-size: 4rem;
  }
}
/* ************ Title ************ */
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.title h1 {
  font-family: var(--mainFontFamily);
  font-size: 3rem;
  color: var(--mainDarkGrey);
  letter-spacing: var(--mainLetterSpacing);
}
.title div {
  background-color: var(--mainBlue);
  height: 4px;
  width: 180px;
  margin: 0 auto;
}

/* ************ About Info ************ */
.about-info {
  width: 75%;
  margin: 0 auto 5rem;
}
.about-info h1 {
  font-size: 2.7rem;
}
.about-info h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--mainDarkGrey);
  letter-spacing: var(--mainSmallLetterSpacing);
  margin-top: 15px;
  margin-bottom: 15px;
}
.about-info-p {
  color: var(--mainDarkGrey);
  margin-bottom: 15px;
}
.about-info-name p {
  text-transform: capitalize;
  padding-bottom: 5px;
}
@media screen and (min-width: 992px) {
  .about-info {
    width: 50%;
    margin-right: 0;
  }
  .about-info h1 {
    font-size: 3.1rem;
    letter-spacing: var(--mainSmallLetterSpacing);
  }
}

/* ********** my stack ************ */
.my-stack {
  padding: 0 3rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(auto-fill, 140px);
}
@media screen and (min-width: 992px) {
  .my-stack {
    grid-template-columns: repeat(5, 1fr);
  }
}
.my-stack div {
  margin-bottom: 3rem;
}
.my-stack .icon {
  font-size: 5rem;
  margin-bottom: 1.5rem;
}
.html5 {
  color: #e34f26;
}
.css3 {
  color: #264de4;
}
.javascript {
  background-color: #f0db4f;
}
.jquery {
  color: #0769ad;
}
.react {
  color: #61dbfb;
}
.my-stack h4 {
  text-transform: uppercase;
  color: var(--mainDarkGrey);
}

/* ********** footer ************ */
.footer {
  background-color: #000;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.5rem;
}
.copy-right {
  color: var(--mainDarkGrey);
  margin: 1.5rem auto 2rem;
  letter-spacing: var(--mainSmallLetterSpacing);
  align-items: center;
  display: flex;
}
.copy-right-icon {
  margin-right: 1rem;
}
.footer h1 {
  text-transform: capitalize;
  color: var(--mainDarkGrey);
  font-size: 2.2rem;
  border: 3px solid var(--mainDarkGrey);
  padding: 5px 0;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}
.footer-icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
.footer-icon .icon {
  font-size: 1.4rem;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 2rem 2rem 0;
  -webkit-transition: var(--longTransition);
  -o-transition: var(--longTransition);
  transition: var(--longTransition);
}

.footer-icon .icon:hover {
  color: var(--mainWhite);
}
.youtube {
  color: #c4302b;
}
.facebook {
  color: #3b5998;
}
.linkedin {
  color: #0e76a8;
}
.github {
  color: #bebfc1;
}
.footer-icon .github:hover {
  color: var(--mainBlue);
}

/* ************ contact ************** */
.contact-email {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto;
  width: 100%;
}
.contact-email p,
.contact-email label {
  color: var(--mainRed);
  text-transform: capitalize;
  margin-bottom: 1.1rem;
}
.contact-email label {
  color: var(--mainDarkGrey);
}
.contact-email input[type='text'],
.contact-email input[type='email'],
.contact-email textarea {
  outline: none;
  border: none;
  border-bottom: solid 2px var(--mainDarkGrey);
  color: var(--mainDarkGrey);
  display: block;
  width: 100%;
  font-size: 1.3rem;
  text-transform: capitalize;
  padding: 10px 10px;
  background-color: transparent;
  margin-bottom: 1.5rem;
}
.contact-email textarea {
  margin-top: 1.1rem;
  border: solid 2px var(--mainDarkGrey);
  text-transform: none;
  font-size: 1rem;
}
.contact-email .btn {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 400px) {
  .contact-email {
    width: 370px;
  }
}
/* ************ Projects ************* */
.projects {
  width: 75vw;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto;
  gap: 30px;
}
.projects-type-buttons {
  text-align: center;
  margin: 0 auto 3rem;
  width: 75vw;
}
.btn-inline {
  margin: -1rem 0.5rem 1rem;
}
/* ************ single Project ************* */
.singleProject {
  border-radius: 5px;
  -webkit-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
  transition: var(--mainTransition);
  background-color: var(--mainGrey);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.72);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.72);
}
.singleProject:hover {
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.72);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.72);
}
.image-cover {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.image-cover img {
  width: 100%;
  min-height: 220px;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
  transition: var(--mainTransition);
}
.image-cover:hover img {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.image-cover div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
  transition: var(--mainTransition);
  opacity: 0;
}
.image-cover .search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  color: var(--mainBlue);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
  transition: var(--mainTransition);
  cursor: pointer;
  opacity: 0;
}
.image-cover:hover div,
.image-cover:hover .search-icon {
  opacity: 1;
}
.footer-cover {
  padding: 0 10px;
  background-color: var(--mainGrey);
  position: relative;
  top: -5px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-cover > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-cover > h3 {
  font-family: var(--mainFontFamily);
  color: var(--mainDarkGrey);
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSmallLetterSpacing);
}
.footer-cover > div > h3 {
  font-size: 1.3rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSmallLetterSpacing);
}
.footer-cover .icon,
.singleProjectInfo .icon {
  font-size: 1.1rem;
  margin: 0 5px;
  -webkit-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
  transition: var(--mainTransition);
  cursor: pointer;
}
.singleProject-icon-web {
  color: var(--mainBlue);
}
.singleProject-icon-git {
  color: var(--mainBlack);
}
.footer-cover .icon:hover,
.singleProjectInfo .icon:hover {
  opacity: 0.4;
}
@media screen and (min-width: 573px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    width: 55vw;
  }
}
@media screen and (min-width: 760px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    width: 75vw;
  }
}
@media screen and (min-width: 992px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* *************** SingleProjectInfo *************** */
.singleProjectInfoBody {
}
.singleProjectInfoBody .container {
  margin: 2rem auto 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 90vw;
}
.img-container {
}
.singleProjectInfoBody img {
  width: 90%;
  min-height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}
.singleProjectInfoBody .singleProjectInfo {
  text-align: left;
  width: 90%;
  margin: 1rem auto 2rem;
}
.singleProjectInfo h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--mainBlue);
  font-family: var(--mainFontFamily);
}
.singleProjectInfo h3 {
  margin-top: 0.5rem;
  text-transform: uppercase;
  color: var(--mainDarkGrey);
  letter-spacing: var(--mainSmallLetterSpacing);
}
.singleProjectInfo h4 {
  margin: 1.5rem 0 0.3rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: var(--mainLetterSpacing);
}
.singleProjectInfo p {
  color: var(--mainDarkGrey);
  text-transform: capitalize;
  letter-spacing: var(--mainSmallLetterSpacing);
}
.singleProjectInfo h5 {
  color: var(--mainDarkGrey);
  text-transform: uppercase;
  word-spacing: var(--mainLetterSpacing);
  font-size: 1rem;
}
.singleProjectInfo > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 1.5rem;
}
@media screen and (min-width: 700px) {
  .singleProjectInfoBody .container {
    width: 70vw;
  }
  .singleProjectInfo h1 {
    letter-spacing: var(--mainLetterSpacing);
  }
}
@media screen and (min-width: 992px) {
  .singleProjectInfoBody .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90vw;
    -ms-grid-columns: 2fr 3fr;
    grid-template-columns: 2fr 3fr;
    min-height: calc(100vh - 250px);
  }
  .singleProjectInfoBody img {
    min-height: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .singleProjectInfoBody .container {
    width: 75vw;
    -ms-grid-columns: 3fr 4fr;
    grid-template-columns: 3fr 4fr;
  }
}
/* ************ error page ************ */
.error-page {
  margin-top: 6rem;
  text-align: center;
}
.error-page h2 {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 760px) {
  .error-page h2 {
    font-size: 2rem;
    letter-spacing: var(--mainLetterSpacing);
  }
}
